<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Darya exchange & financial service - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
<!--  {{url_for('static', filename='')}}-->
  <link href="{{url_for('static', filename='assets/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#">Darya</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#rates">RATES</a></li>
          <li><a class="nav-link scrollto" href="#converter">CURRENCY CONVERTER</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <button style="margin-left:5px;" class="btn btn-light" ><a href="https://darya-exchange.odoo.com/web/login" style="padding:0px; color: black">Sign In</a></button>
        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to Darya</h1>
      <h2>Unlock Financial Freedom: Seamless Exchanges, Competitive Rates Await!</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{{url_for('static', filename='assets/img/about.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Welcome to Darya—where currency meets convenience!</h3>
            <p class="fst-italic">
            We're a team of financial enthusiasts dedicated to simplifying your currency exchanges. Enjoy competitive rates, low fees, and a secure platform for seamless transactions. Your money, your way!
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> At Darya, redefine your transactions with professionalism, precision, and security.</li>
              <li><i class="bi bi-check-circle"></i> Discover financial excellence at Darya, where transactions seamlessly combine professionalism and efficiency.</li>
              <li><i class="bi bi-check-circle"></i> At Darya, professionalism meets precision, ensuring secure and efficient global currency transactions.</li>
            </ul>
            <p>
              Join us on this financial journey, where borders are no longer barriers,
              and exchanging currency is just step away. At Darya,
              we're not just facilitating transactions; we're building connections and fostering a global community
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <span>01</span>
              <h4>Trust Point</h4>
              <p>Precision in Every Penny, Trust in Every Transaction.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>Empowerment Unleashed</h4>
              <p>Enriching Connections Through Transactions with Darya</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4>Unleash the Future</h4>
              <p>Redefined Currency, Perfected Experience with Darya.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

        <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p>Unlock a world of financial convenience – Start exchanging with confidence at Darya today! Your seamless transactions await, click now to experience the future of currency exchange</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Explore a spectrum of financial solutions at Darya, where convenience meets excellence in every service</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
	      <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">National remittance</a></h4>
              <p>Effortlessly send and receive funds within the country with our streamlined National Remittance services, ensuring swift and secure transactions at Darya.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
	      <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">International remittance</a></h4>
              <p>Experience the ease of borderless transactions with our International Remittance services, ensuring your money reaches its destination securely and promptly through Darya</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
	      <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Exchange</a></h4>
              <p>Optimize your currency conversions with precision and competitive rates at Darya, where every exchange is a seamless and reliable transaction</p>
            </div>
          </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="rates" class="pricing">
      <div class="container">

        <div class="section-title">
          <span>Rates</span>
          <h2>Rates</h2>
          <p>Explore up-to-date currency rates in our Rates section for informed financial decisions.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
            <div class="box" >
              <h3>{{rates['card_1']['currency']}}</h3>
              <h4><sup>{{rates['card_1']['symbol']}}</sup>{{rates['card_1']['buy']}}<span> / Buy</span></h4>
              <h4><sup>{{rates['card_1']['symbol']}}</sup>{{rates['card_1']['sell']}}<span> / Sell</span></h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
            <div class="box featured" >
              <h3>{{rates['card_2']['currency']}}</h3>
              <h4><sup>{{rates['card_2']['symbol']}}</sup>{{rates['card_2']['buy']}}<span> / Buy</span></h4>
              <h4><sup>{{rates['card_2']['symbol']}}</sup>{{rates['card_2']['sell']}}<span> / Sell</span></h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <div class="box featured" >
              <h3>{{rates['card_3']['currency']}}</h3>
              <h4><sup>{{rates['card_3']['symbol']}}</sup>{{rates['card_3']['buy']}}<span> / Buy</span></h4>
              <h4><sup>{{rates['card_3']['symbol']}}</sup>{{rates['card_3']['sell']}}<span> / Sell</span></h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>{{rates['card_4']['currency']}}</h3>
              <h4><sup>{{rates['card_4']['symbol']}}</sup>{{rates['card_4']['buy']}}<span> / Buy</span></h4>
              <h4><sup>{{rates['card_4']['symbol']}}</sup>{{rates['card_4']['sell']}}<span> / Sell</span></h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->


   <!-- ======= Currency converter ======= -->
    <section id="converter" class="team">
      <div class="container">

        <div class="section-title">
          <span>Currency Converter</span>
          <h2>Currency Converter</h2>
          <p>Convert currencies instantly with our Currency Converter for real-time exchange rates.</p>
        </div>

        <div class="row">
          <div style="text-align:center" class="col-lg-12 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <h3 style="text-align:center; margin-bottom:30px" >Currency Converter</h3>
              <form id="converter-form" >
              <div class="mb-3" style="margin-bottom:20px">
                <label class="form-label">I'd Like To Exchange</label>
                <input type="number" id="amount" class="form-control" placeholder="$100" required>
              </div>

              <div class="mb-3">
                <label class="form-label">From Currency</label>
                <select id="from-currency" class="form-select" aria-label="Floating label select example" required>
                {% for key, value in rates.items() %}
                    <option value="{{ key }}">{{ value['symbol'] }} - {{ value['currency'] }}</option>
                {% endfor %}
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label">To Currency</label>
                <select class="form-select"  id="to-currency"  aria-label="Floating label select example" required>
                {% for key, value in rates.items() %}
                    <option value="{{ key }}">{{ value['symbol'] }} - {{ value['currency'] }}</option>
                {% endfor %}
                </select>
              </div>

              <div class="d-grid gap-2 mx-auto">
                  <button style="background-color:#7B9FB7; margin: 10px 0;"  type="button" onclick="convertCurrency()" class="btn btn-primary">Convert</button>
              </div>
              <h2 style="text-align:center; margin-top:30px" id="result"></h2>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>Questions? Contact us at Darya for swift assistance</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Gulbahar Center, First Floor, Shop Number 193-200</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>info@darya.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+93 78 08 29 299</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6 ">
           <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7379.480591624009!2d69.17603517916763!3d34.523542582297885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d16eb49a38773b%3A0x5921957041a8a59a!2sGolbahar%20Business%20Center!5e0!3m2!1sen!2s!4v1712057407229!5m2!1sen!2s" frameborder="0" style="border:0; width: 100%; height: 384px;"  ></iframe>
<!--            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>-->
          </div>

          <div class="col-lg-6">
            <form action="contact" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Day</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Musawer Afzali</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <script>
      // Your JSON data provided by Flask's render_template
      var exchangeRates = {
          {% for key, value in rates.items() %}
              "{{ key }}": {"buy": {{ value['buy'] }},
                            "sell": {{ value['sell'] }},
                            "currency": "{{ value['currency'] }}"},
          {% endfor %}
      };

      function convertCurrency() {
          var amount = document.getElementById('amount').value;
          var fromCurrency = document.getElementById('from-currency').value;
          var toCurrency = document.getElementById('to-currency').value;

          // Access the 'currency' property within the selected exchangeRates
          var fromCurrencySymbol = exchangeRates[fromCurrency].currency;
          var toCurrencySymbol = exchangeRates[toCurrency].currency;

          var exchangeRate = exchangeRates[fromCurrency].buy / exchangeRates[toCurrency].sell;
          var convertedAmount = amount * exchangeRate;

          document.getElementById('result').innerText = amount + ' ' + fromCurrencySymbol + ' is equal to ' + convertedAmount.toFixed(2) + ' ' + toCurrencySymbol;
      }
  </script>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>


  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>